<!-- 
<p>institute-homepage works!</p>
<div class="national-scholarship">
  <div class="natinal-scholar">
    <p class="text-bold">NATIONAL SCHOLARSHIP PORTAL</p>
  </div>
  <div class="topnav">
    <p class="text-bold">Institute Home Page</p>
  </div>
  <div class="row">
    <div class="col">Institute Name</div>
  </div>
  <div class="application-form">
    <p>APPLICATION FORM</p>
    <P>VIEW</P>
  </div>
  <div class="student application">
    <p>STUDENT APPLICATION</p>
    <p>VERIFY</p>
  </div>
</div>
-->
<div class="container-verification">
    <div class="national-scholarship">
      <p>NATIONAL SCHOLARSHIP PORTAL</p>
      <p>Institute Home Page</p>
    </div>
    <div class="home-section">
      <div class="row mt-5">
        <div class="col institute-name-box">
          <div class="row institute-name">
            <p>Institute Name</p>
          </div>
  
          <div class="view-button">
            <button type="submit">View Student Application Form</button>
          </div>
        </div>
        <div class="col application-box">
          <div class="row">
            <p>APPLICATION FORM</p>
            <button type="button" class="btn btn-primary">VIEW</button>
            <button type="button" class="btn btn-primary">VIEW</button>
            <button type="button" class="btn btn-primary">VIEW</button>
          </div>
          <div class="row bonified">
            <button type="button" class="btn btn-primary">
              ATTACH BONAFIDE CERTIFIACTE
            </button>
          </div>
        </div>
  
        <div class="col-md-4 col-6 student-application-box">
          <p>STUDENT APPLICATION</p>
          <button type="button" class="btn btn-primary">VERIFY</button>
          <button type="button" class="btn btn-primary">REJECT</button>
          <button type="button" class="btn btn-primary">UPLOAD</button>
        </div>
      </div>
    </div>
  </div>