<h1 mat-dialog-title>National Merit scholarship</h1>
<mat-dialog-content class="mat-typography">
  <h2>
    <b> Objective </b>
  </h2>

  <p>
    The Maharashtra DTE Scholarship gives the opportunity to the students
    belonging to the backwards categories to study in the government and private
    colleges after completion of their Class 12th. This scheme not only provides
    the scholarship to study in technical courses but also gives the chance to
    apply for undergraduate and postgraduate courses in India.
  </p>
  <h2>
    <b>Eligibility Criteria </b>
  </h2>
  <p>
    •Those applicants who are belonging to the economically backward
    caste/category such as SC/ ST/ OBC or other minorities’ categories are
    required to check if they come under the eligibility criteria provided by
    the Directorate of Technical education, Maharashtra Government • The
    candidates applying for the Maharashtra Merit Scheme Scholarship 2021-2022
    must have completed 10th and 12th from a recognized board with a minimum of
    60% marks in aggregate. • Maximum two members of a family belonging to the
    minority category can apply for the scholarship • Students applying for the
    Maharashtra Merit scheme Scholarship 2021- 2022 must have Aadhaar Card
    enrolled in the State. • The applicant must produce all the documents
    prescribed by the state.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>