<div class="national-scholarship">
  <div class="national-scholar">
    <p class="text-bold">NATIONAL SCHOLARSHIP PORTAL</p>
    <p>Government of India</p>
  </div>
  <div class="topnav">
    <a class="active" routerLink="/home">Home</a>
    <a routerLink="/about-us" target="_blank">About us</a>
    <a routerLink="/contact-us" target="_blank">Contact us</a>
    <a routerLink="/register" target="_blank">New Registration</a>
  </div>

  <div class="home-page">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="updates-box">Latest Updates</div>
        </div>

        <div class="row">
          <div class="helpdesk-box">Helpdesk</div>
        </div>
      </div>
      <div class="col">
        <div class="detail-portal">
          <p>Detailed Description of Portal</p>
        </div>
      </div>
      <div class="col">
        <div class="student-log">
          <p>Student Login</p>
          <app-student-login></app-student-login>
        </div>
      </div>
    </div>
  </div>
</div>