<div class="national-scholarship">
    <div class="national-scholar">
      <p class="text-bold">NATIONAL SCHOLARSHIP PORTAL</p>
      <p>Government of India</p>
    </div>
    <div class="topnav">
      <a class="active" routerLink="/home">Home</a>
      <a routerLink="/about-us" target="_blank">About us</a>
      <a routerLink="/contact-us" target="_blank">Contact us</a>
      <a routerLink="/register" target="_blank">New Registration</a>
    </div>
  
    <div class="home-page">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="updates-box">

              
                <div class="marquee">
                    <h4><i class="fa fa-bullhorn"></i> &nbsp; Latest Updates</h4>
                    <div class="marquee-content">
                        <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrollamount="3" height="200">
                             <p style="font-weight: bold;">
                             <span class="fa fa-info-circle" style="color: #ff1c1c;">
                                NMMS scheme is now open for only the students of Rajasthan. Students can register till 10/03/2022 , Institutes can verify till 15/03/2022, defect applications can be submitted till 15/03/2022. District nodal officers can verify till 15/03/2022                                     </span>
                             </p> 
                              <p style="font-weight: bold;">
                               <span class="fa fa-info-circle" style="color: #ff1c1c;">
                                 For Prematric Labour Scheme and Pre Matric Minority Scheme(Central Sector) Institute verification dates have been extended till 15-01-2022 and District/State verification dates have been extended till 31-01-2022
                                </span>
                             </p> 
                            <p style="font-weight: bold;">
                               <span class="fa fa-info-circle" style="color: #ff1c1c;">
                                 Renewal Applications where there is a mismatch in aadhaar details can submit their applications now
                                </span>
                             </p>                                     
                            
                             <p style="font-weight: bold;">
                                <span class="fa fa-info-circle" style="color: #ff4d4d;">&nbsp;
                                  
                                   From AY 2021-22 all grievances related to the different schemes should be addressed to the grievance officer of the scheme who are appointed by the concerned ministries.  The details of grievance officers is available under “Services” in the first page of the portal.
                               
                                </span>
                            </p>
                                   
                            <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #0BBB31;">&nbsp;
                                    <strong>Attention Institutes</strong><br><br>
                                   The institutes, not having login credentials are advised to fill the KYC Registration Form and 
                                   get it approved by District Nodal Officer (DNO) or State Nodal Officer (SNO).
                                </span>
                            </p>
                            
                            <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #0BBB31;">&nbsp;
                                  
                                  Option to apply for Institute KYC Registration is available under SERVICES section on the portal.
                                </span>
                            </p>
                            
                            
                            <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #0BBB31;">&nbsp;
                                    The detailed operational steps involved in filling the Institute KYC Registration Form is available
                                    under "Important Documents" section  on the portal.
                                </span>
                            </p>
                            
                            <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #820505;">&nbsp;
                                    
                                    <a style="color:#b73333;" href="/public/FAQ/NSP_SOP.pdf" target="_blank">
                                        Standard Operating Procedures for NSP</a>
                                </span>
                            </p>
                             
                            <p style="font-weight: bold;">
                                <span class="fa fa-info-circle" style="color: #ff1c1c;">&nbsp;
                                    Students applying from the State of  Jharkhand in “CENTRAL SECTOR SCHEME OF SCHOLARSHIPS FOR COLLEGE AND UNIVERSITY STUDENTS” of MHRD (DOHE) are requested to enter their 12th Roll code along with their roll no in the application form.<br>
                               <br> example – Roll Code is  11066 and Roll No is 20168
                               <br> For  Jharkhand  Board Students has to enter 1106620168  format (RollcodeRollNo) in Roll No Column of Applications.
                               
                                </span>
                            </p>
                            

                            
                            
                        </marquee>

                    </div>
                </div>
            </div>
          </div>
  
          <div class="row">
            <div class="helpdesk-box">
            <div class="helpDesk-inner">
              <h3>Helpdesk</h3>
              <p>Candidates can contact the Help Desk for resolution of the technical problems</p>
             <p><i class="fa fa-phone"></i>&nbsp; &nbsp;0120 - 6619540</p>
              </div>
            </div>

            
          </div>
        </div>
        <div class="col">
          <div class="detail-portal">
            <p>Detailed Description of Portal</p>
          </div>
        </div>
        <div class="col">
          <div class="student-log">
            <p>Student Login</p>
            <app-student-login></app-student-login>
          </div>
        </div>
      </div>
    </div>
  </div>